   /* header***************** */
    @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat:wght@500&family=Pacifico&display=swap');
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
       
    
    }
    li, a , button {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: .7rem;
        color: white;
        text-decoration: none;
    }
    /* smooth scroll effect */
    html {
        scroll-behavior: smooth;
    }
h2 {
color: aliceblue;
font-family: sans-serif;
}

header {
    box-sizing: border-box;
        margin: 0;
        padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color: rgb(82, 76, 76);
    position: fixed;
    width: 100%;
    height: 7vh;
}
.logo {
    cursor: pointer;
}
.nav__links {
    list-style: none;
}
.nav__links li {
    display: inline-block;  
    padding: 0px 20px; 
}
.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    transition: all 0.3s ease 0s;
    color: rgb(157, 160, 155);
    /* background-color:rgb(29, 27, 27); */
}
button {
    padding: 9px;
    background-color: rgb(56, 117, 133);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover {
    background-color: rgba(67, 183, 212, 0.8);

}
/* end of header ****************/

.home-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    padding-top: 5rem;
}
#home {
    /* grid-column : span 5; */
    grid-column: 1 / 6;
  

}
.img-home {
   width: 100%;
   height: auto;
}
.home-text {
    grid-column: 2 / 5;
    padding: 50px 10px;
    margin: 10px;
   
}

.about-container {
    display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 10px;
}
.about-container > img {
    height: auto;
    width: 100%;

}

.gallery-home {
    grid-column: span 1;
    width: 100%;
   height: auto;
   border: white solid 1rem ;
   /* box-sizing: border-box; */
}


#about {
  grid-column: span 4;
  padding: 10px ;
  padding-top: 6vh;
  margin-left: 10px;
}
.gallery-about {
    grid-column: span 1;
    max-width: 100%;
   height: auto;
   border: white solid 1rem ;
   /* box-sizing: border-box; */
}
.gallery {
    grid-column: span 2;
    width: 100%;
   height: auto;
   border: white solid 1rem ;
   /* box-sizing: border-box; */
}

.spacer {
    grid-column: span 4;
    /* background-color: red; */
    margin-bottom: 6vh;
}
h3 {
 padding-left: 2rem;
}
.center-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
}
.gallery-container img {
    height: 100%;
    width:100%;
    }